@model superllantasEntity.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WithholdingTax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WithholdingTax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalesTax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalesTax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Branch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Branch.BranchId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProductId">Actualizar</a> |
    <a asp-action="Index">Volver</a>
</div>
