@model superllantasEntity.Models.Sale

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminiar</h1>

<h3>¿Estas seguro que deseas eliminar esta informacion?</h3>
<div>
    <h4>Sale</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaleType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaleType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TemporaryDiscount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TemporaryDiscount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaleDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaleDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Branch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Branch.BranchId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.CustomerId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SaleId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Volver</a>
    </form>
</div>
