@model superllantasEntity.Models.Sale

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Sale</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaleType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaleType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TemporaryDiscount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TemporaryDiscount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaleDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaleDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Branch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Branch.BranchId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.CustomerId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SaleId">Actualizar</a> |
    <a asp-action="Index">Volver</a>
</div>
